absl-py
altair
asttokens
attrs
backcall
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
decorator
executing
flatbuffers
fonttools
gitdb
GitPython
idna
importlib-metadata
imutils
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe==0.10.13
nest-asyncio
numpy
opencv-contrib-python
opencv-python
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
sounddevice
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
